rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /artisans/{artisanId} {
      
      // 1. LECTURA PÚBLICA (Cualquiera puede consultar el directorio)
      allow read: if true;

      // 2. CREACIÓN PERMITIDA PARA USUARIOS AUTENTICADOS
      allow create: if request.auth != null;

      // 3. EDICIÓN PERMITIDA SOLO AL PROPIETARIO DEL NEGOCIO (OWNER)
      allow update: if request.auth != null && (resource.data.ownerId == request.auth.uid || request.resource.data.ownerId == request.auth.uid);

      // 4. BORRADO BLOQUEADO O SOLO POR EL PROPIETARIO
      allow delete: if request.auth != null && resource.data.ownerId == request.auth.uid;
    }
  }
}
