rules_version = '2';

// Reglas de Seguridad para Firebase Storage en "Arte y Sanos"
service firebase.storage {
  match /b/{bucket}/o {
    
    // Ruta estructurada: artesanos/{artisanUid}/projects/{projectUid}/{fileName}
    match /artesanos/{artisanUid}/projects/{projectUid}/{allPaths=**} {
      allow read: if true;
      allow write, create, delete: if true;
    }

    // Regla global por defecto para la aplicación
    match /{allPaths=**} {
      allow read: if true;
      allow write, create, delete: if true;
    }
  }
}
